

body {
    

    background-size: cover; 
    background-position: center; 
    background-color: #EFF4ED; 
    opacity: 0.9;
  
}


/* -------------HEADER AND NAV--------- */
header {
    background-image: url('./sharp.jpg');
   
    height: 14em;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    margin-bottom: 0;
}

h1 {
    font-family: 'Raleway';
    color: white;
    text-align: center;
    margin-bottom: 3.2em;
    font-size: 2.7em; 
    letter-spacing: 0.2em;
    text-shadow: white 0 0 0;
    
}

nav {
    width: 100%;

}
.nav {
    margin-top: 0;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    
}

ul {
    margin: 0;
    width: 100%;
}

ul li {
    
    padding: 0.5em;
    background-color: #79ac6e;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    font-size: 1.3em;
    font-weight: bolder;
   
}



/* ---------------------PICTURE AND ABOUT SECTION--------------- */
p {
    font-family: 'Open Sans';
    /* color: white; */
    /* font-weight: bold; */
    color: white;
}
h2 {
    color: white;
    font-family: 'Raleway';
    text-align: center;
    border-bottom: 2px solid white;

}

.aboutandpic {
    display: flex;
    justify-content: space-around;
    /* margin-top: 2em; */
    
}

section {
    
    line-height: 1.8;
    font-size: 0.9em;
    margin: 2em 0;
    background-color:  #79AC6E;
    opacity: 0.9;
    
    
    
}
.aboutMe {
    width: 550px;
    padding: 2em;

}

.profilePic {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
   
   
}
.headshot {
    width: 400px;
    height: 400px;
    
} */





 .carousel img{
    width: 0%;
    height: 500px;
} 

.testimonials {
    margin: 0 4em;
    padding: 1em 2em 1em 2em;
    /* margin-bottom: 2em; */
    margin: 2em 0;

    width: 550px;
    
} 
.slideshow {
    margin: 0 4em 2em 4em;;
}

.reviewsandapi {
    display: flex;
   
    justify-content: space-around;
}

.spotify {
    width: 550px;
}
/* --------------------------FORM AREA============================== */
.contact {
    
    margin: 0 4em;
}


form {
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    /* background-image: url('./sharp.jpg'); */
    
    
} 

 .info {
    width: 70%;
    height: 3em;
    font-size: 16px;
    background-color: #79ac6e;
    border: 2px solid white;
    margin: 2em 0;
    opacity: 0.9;
    

    

}

::placeholder {
    color: white;
    font-size: 18px;
}

textarea {
    width: 70%;
    height: 15em;
}

button {
    width: 70%;
    height: 2em;
    background-color: #79ac6e;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
    border: 2px solid white;
    opacity: 0.9;
    margin: 1em 0 1em 0;
    padding-bottom: 1em;;
}

button:hover {
    color: darkblue;
}

a:hover {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0.5em;
    transition: 0.5s
    
}


#speech-bubble {
	position: relative;
	background: #48a369;
	border-radius: .4em;
}

#speech-bubble:after {
	content: 'Hello';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #48a369;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

@keyframes movingPic{
    from {
        margin-left: 0
    }

    to {
        margin-left: 80%;
        margin-right: 0;

    }
}



@keyframes movingForm {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 4%;
    }
}


.info {
    animation: movingForm 2s;
}

#typingDog {
    animation: movingPic 8s;
    animation-iteration-count: infinite;
    
}

#particles-js canvas {
    display: block;
  
   
    transform: scale(1);
    opacity: 1;
   
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    top: 0;
    top: 0;
    left: 0;
    height: 50em;
    margin-bottom: 
}

@media screen and (max-width: 950px) {
    .aboutandpic {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .reviewsandapi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

 


.contact {
    
    margin-top: 5em;
}



